{{$src := resources.GetMatch .src}}
{{if not $src}}
{{errorf "No image found with pattern '%v'" .src}}
{{end}}
{{/*Sizes*/}}
{{ $lqipw := default "20x" }}
{{ $tinyw := default "500x" }}
{{ $smallw := default "800x" }}
{{ $mediumw := default "1200x" }}
{{ $largew := default "1500x" }}


{{/*Images*/}}
{{ $lqip := $src.Resize $lqipw }}
{{ $tiny := $src.Resize $tinyw }}
{{ $small := $src.Resize $smallw }}
{{ $medium := $src.Resize $mediumw }}
{{ $large := $src.Resize $largew }}


<div class="img {{.extraClasses}}" style="background: url(data:image/jpeg;base64,{{ $lqip.Content | base64Encode  }}); background-size: cover">
  <svg width="{{ $src.Width }}" height="{{ sub $src.Height 7}}" aria-hidden="true"></svg>
  <img
    class="lazyload"
    alt="{{.alt}}"
    data-sizes="auto"
    data-srcset='
    {{ if ge $src.Width "500" }}
      {{ with $tiny.RelPermalink }}{{.}} 500w{{ end }}
    {{ end }}
    {{ if ge $src.Width "800" }}
      {{ with $small.RelPermalink }}, {{.}} 800w{{ end }}
    {{ end }}
    {{ if ge $src.Width "1200" }}
      {{ with $medium.RelPermalink }}, {{.}} 1200w{{ end }}
    {{ end }}
    {{ if ge $src.Width "1500" }}
      {{ with $large.RelPermalink }}, {{.}} 1500w {{ end }}
    {{ end }}'
    data-src={{$src.RelPermalink}}/>
    <noscript>
      <img 
        alt="{{.alt}}"
        src="{{$src.RelPermalink}}"
      />
    </noscript>
</div>
